@media (max-width: 480px) {
  .main-background {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 32%;
    right: -60px;
    transform: scale(0.60, 0.60);
    z-index: -1;
    opacity: 0;
  }
}
@media (max-width: 480px) {
  .main-background-2 {
    display: none;
  }
}
@media (max-width: 480px) {
  .main-background-3 {
    display: none;
  }
}

@media (max-width: 768px) and (min-width: 480px) {
  .main-background {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 200px;
    right: -40px;
    transform: scale(0.60, 0.60);
    z-index: -1;
    opacity: 0;
  }
}
@media (max-width: 768px) and (min-width: 480px) {
  .main-background-2 {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 20%;
    right: 14%;
    transform: scale(0.60, 0.60);
    z-index: -1;
    opacity: 0;
  }
}
@media (max-width: 768px) and (min-width: 480px) {
  .main-background-3 {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 27%;
    right: 7%;
    transform: scale(0.60, 0.60);
    z-index: -1;
    opacity: 0;
  }
}

@media (min-width: 768px) {
  .main-background {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 15%;
    right: 15%;
    transform: scale(0, 0);
    z-index: -1;
    opacity: 0;
    transition: all 5s;
  }
}

.trans {
  transform: scale(0.70, 0,70);
  opacity: 1;
}
@media (min-width: 768px) {
  .main-background-2 {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 30%;
    right: 40%;
    transform: scale(0.90, 0.90);

    z-index: -1;
    opacity: 0;
  }
}
@media (min-width: 768px) {
  .main-background-3 {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 25%;
    right: 20%;
    transform: scale(0.90, 0.90);

    z-index: -1;
    opacity: 0;
  }
}

/*
var windowWidth = $(window).width();
var menuList = "<ul id='menuList'>";
menuList += "<li><a href='#'>ABOUT</a></li>";
menuList += "<li><a href='#'>WORK</a></li>";
menuList += "<li><a href='#'>CONTACT</a></li>";
menuList += "</ul>";

function randomBetwen(min, max) {
  return Math.floor(Math.random()*(max-min+1)+min);
}

function appearOne(picture) {
  picture.animate({
    opacity: 1
  }, 3000);
}

function appearTablet(picture) {
  picture.animate({
    opacity: 1,
  }, randomBetwen(1000, 9000), function() {
    picture.animate({
      opacity: 0,
    }, randomBetwen(1000, 9000), function() {
      picture.css({right: randomBetwen(-5, 32) + "%", top: randomBetwen(0, 52) + "%"});
    })
  });
}

function appearDesktopMain(picture) {
  picture.animate({
    opacity: 1,
  }, randomBetwen(1000, 4000), function() {
    picture.animate({
      opacity: 0,
    }, randomBetwen(1000, 4000), function() {
      picture.css({right: randomBetwen(2, 12) + "%", top: randomBetwen(10, 22) + "%"});
    })
  });
}

function appearDesktopMain2(picture) {
  picture.animate({
    opacity: 1,
  }, randomBetwen(1000, 4000), function() {
    picture.animate({
      opacity: 0,
    }, randomBetwen(1000, 4000), function() {
      picture.css({right: randomBetwen(23, 47) + "%", top: randomBetwen(21, 34) + "%"});
    })
  });
}

function appearDesktopMain3(picture) {
  picture.animate({
    opacity: 1,
  }, randomBetwen(1000, 4000), function() {
    picture.animate({
      opacity: 0,
    }, randomBetwen(1000, 4000), function() {
      picture.css({right: randomBetwen(15, 20) + "%", top: randomBetwen(3, 35) + "%"});
    })
  });
}

function appendMenu() {
  $('.Header').append(menuList);
}


console.log(windowWidth);
if (windowWidth < 480) {
  appearOne($('.main-background'));
} else if(windowWidth > 480 && windowWidth < 786){
  setInterval(function() { appearTablet($('.main-background')) }, randomBetwen(1000, 4000));
  setInterval(function() { appearTablet($('.main-background-2')) }, randomBetwen(2000, 4000));
  setInterval(function() { appearTablet($('.main-background-3')) }, randomBetwen(1000, 6000));
} else if (windowWidth > 768) {
  appendMenu();
  setInterval(function() { appearDesktopMain($('.main-background')) }, randomBetwen(2000, 4000));
  setInterval(function() { appearDesktopMain2($('.main-background-2')) }, randomBetwen(3000, 7000));
  setInterval(function() { appearDesktopMain3($('.main-background-3')) }, randomBetwen(1000, 6000));
}
*/
